@use "../variables" as *;
@use "../mixins" as *;


.album {
    width: 100%;

    .content {
        width: 100%;
        // padding-top: 10%;

        h2 {
            color: #646531ff;
            font-size: 41px;
            font-weight: 300;
            margin: 5% 0 7%
        }

        .swiper {
            width: 100%;
            aspect-ratio: 542 / 754;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: white;
            }

            .swiper-pagination-bullet-active {
                background: rgb(215, 215, 215);
            }

            .swiper-pagination-bullet {
                width: 16px;
                height: 16px;
                display: inline-block;
            }
        }
    }

    @media (max-width: 542px) {
        .content {
            h2 {
                font-size: calc((41 / 542) * 100vw);
            }

            .swiper {

                .swiper-button-next:after,
                .swiper-button-prev:after {
                    font-size: calc((44 / 542) * 100vw);
                }

                .swiper-pagination-bullet {
                    width: calc((16 / 542) * 100vw);
                    height: calc((16 / 542) * 100vw);
                }
            }
        }
    }
}

.swiper {
    margin: 0 auto;
}