@use "../variables" as *;
@use "../mixins" as *;

.invite {
    width: 100%;

    .content {
        width: 100%;
        height: 100%;
        background: url('../../assets/images/base_bg.png') repeat top / cover;
        padding: 12% 0;

        .logo {
            margin-bottom: 8%;

            img {
                max-width: 116px;
            }
        }

        .invite-text {
            font-size: 14px;

            .text-1 {
                font-family: $font-SVG-gothamBook;
                line-height: 2.2;
            }

            .text-2 {
                font-family: $font-SVG-GothamLight;
            }
        }

        .couple-image {
            margin: 8% 0;

            img {
                max-width: 210px;
            }
        }

        .names {
            font-family: $font-AstonScriptBold;

            .name {
                font-size: 29px;
            }

            .and {
                font-size: 16px;
            }
        }

        .divider {
            margin: 15% 0;

            img {
                max-width: 42px;
            }
        }

        .venue {
            .venue-label {
                margin-bottom: 3%;
            }

            .venue-label,
            .date-time,
            .time-label {
                text-transform: uppercase;
                font-size: 14px;
                font-family: $font-SVG-gothamBook;
            }

            .venue-name {
                font-size: 25px;
                font-family: $font-AstonScriptBold;
                line-height: 2;
            }

            .venue-address {
                font-size: 14px;
                font-family: $font-SVG-GothamLight;
                font-style: italic;
                margin-top: 2%;
            }

            .divider-diamond {
                margin: 15% 0 3%;

                img {
                    max-width: 10px;
                }
            }

            .date-time {
                line-height: 2;
                margin-bottom: 4%;
            }
        }

        .map-btn {
            font-size: 17px;
            font-family: $font-SVG-gothamBook;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
            background-color: $text-color;
            max-width: 278px;
            width: 100%;
            aspect-ratio: 278 / 26;
            @include flex-center;
            border-radius: 18px;
            margin: auto;
            text-transform: uppercase;
            transition: all 0.3s ease;
            line-height: 1;
            padding-bottom: .5%;

            &:hover {
                background-color: $text-color;
            }
        }

        @media (max-width: 542px) {
            .logo {
                img {
                    max-width: calc((116 / 542) * 100vw);
                }
            }

            .invite-text {
                font-size: calc((14 / 542) * 100vw);
            }

            .couple-image {
                img {
                    max-width: calc((210 / 542) * 100vw);
                }
            }

            .names {
                .name {
                    font-size: calc((29 / 542) * 100vw);
                }

                .and {
                    font-size: calc((16 / 542) * 100vw);
                }
            }

            .divider {
                img {
                    max-width: calc((42 / 542) * 100vw);
                }
            }

            .venue {

                .venue-label,
                .date-time,
                .time-label {
                    font-size: calc((14 / 542) * 100vw);
                }

                .venue-name {
                    font-size: calc((25 / 542) * 100vw);
                }

                .venue-address {
                    font-size: calc((14 / 542) * 100vw);
                }

                .divider-diamond {
                    img {
                        max-width: calc((10 / 542) * 100vw);
                    }
                }
            }

            .map-btn {
                font-size: calc((17 / 542) * 100vw);
                max-width: calc((278 / 542) * 100vw);
                border-radius: calc((18 / 542) * 100vw);
            }
        }
    }
}