@use "../variables" as *;
@use "../mixins" as *;

.letter-section {
    width: 100%;
    max-width: 542px;

    .content {
        width: 100%;
        aspect-ratio: 542 / 1000;
        background: url('../../assets/images/hero_bg.jpg') no-repeat center / cover;
        @include flex-center;

        .letter {
            max-width: 434px;
            width: 100%;
            aspect-ratio: 384 / 293;
            background: url('../../assets/images/letter_underside.png') no-repeat center / 103%;
            perspective: 1000px;
            position: relative;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            .flap {
                width: 100%;
                aspect-ratio: 384 / 260;
                background: url('../../assets/images/flap.png') no-repeat top / 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                color: #686c73ff;

                .text-block {
                    text-align: center;
                    margin-top: 10%;

                    .invitation {
                        font-size: 25px;
                        font-family: $font-AstonScriptBold;
                        font-style: italic;
                        line-height: 1.2;
                    }

                    .join-us {
                        font-size: 11.5px;
                        font-family: $font-SVG-gothamBook;
                    }

                    .couple-name {
                        font-size: 28px;
                        font-family: $font-AstonScriptBold;
                        margin-top: 8%;
                    }
                }
            }

            .hand-click {
                position: absolute;
                bottom: -2%;
                left: 50%;
                transform: translateX(-20%);
                width: 60px;
                height: auto;
                animation: hand-click 1.5s infinite;
            }

            .empty-page {
                background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/duyen-todd/fbe0d88ade155f4b0604.webp') no-repeat center / 100%;
                opacity: 0;
                position: absolute;
                width: 100%;
                max-width: 375px;
                aspect-ratio: 384 / 250;
                background-color: #fefcfaff;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 10px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        @media (max-width: 542px) {
            .letter {
                max-width: calc((384 / 542) * 100vw);

                .flap {
                    .text-block {
                        .invitation {
                            font-size: calc((25 / 542) * 100vw);
                        }

                        .join-us {
                            font-size: calc((11.5 / 542) * 100vw);
                        }

                        .couple-name {
                            font-size: calc((28 / 542) * 100vw);
                        }
                    }
                }

                .hand-click {
                    width: calc((60 / 542) * 100vw);
                }

                .empty-page {
                    max-width: calc((375 / 542) * 100vw);
                }
            }
        }

    }
}