@use "../variables" as *;
@use "../mixins" as *;

.timeline {
    width: 100%;

    .content {
        width: 100%;
        aspect-ratio: 542 / 966;
        background: url('../../assets/images/nen-01.png') no-repeat center / 80%,
            url('../../assets/images/timeline_bg.png') no-repeat center / cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: $font-SVG-gothamBook;

        .title {
            font-family: $font-AstonScriptBold;
            font-size: 25px;
            font-weight: 300;
            text-align: center;
            line-height: 1;
            margin-bottom: 8%;
            margin-top: 5%;
        }

        .items {
            .timeline-item {
                font-size: 11px;
                text-align: center;
                margin-bottom: 15%;

                .icon {
                    margin-bottom: 2%;

                    img {
                        max-width: 35px;
                    }
                }
            }
        }

        @media (max-width: 542px) {
            .title {
                font-size: calc((25 / 542) * 100vw);
            }

            .items {
                .timeline-item {
                    font-size: calc((11 / 542) * 100vw);

                    .icon {
                        img {
                            max-width: calc((35 / 542) * 100vw);
                        }
                    }
                }
            }
        }
    }
}