@font-face {
    font-family: 'SVG-gotham';
    src: url('../../assets/fonts/SVN-Gotham.woff2') format('woff2'),
        url('../../assets/fonts/SVN-Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVG-gotham-book';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVG-GothamLight';
    src: url('../../assets/fonts/SVN-GothamLight.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVG-GothamBold';
    src: url('../../assets/fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AstonScriptBold-Bold';
    src: url('../../assets/fonts/AstonScriptBold-Bold.woff2') format('woff2'),
        url('../../assets/fonts/AstonScriptBold-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TPLeMajor';
    src: url('../../assets/fonts/TPLeMajor-Regular.woff2') format('woff2'),
        url('../../assets/fonts/TPLeMajor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DFVNCatchyMager';
    src: url('../../assets/fonts/DFVN\ Catchy\ Mager.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allura';
    src: url('../../assets/fonts/Allura-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aboreto-Regular';
    src: url('../../assets/fonts/Aboreto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Hatton Bold';
    src: url('../../assets/fonts/PP Hatton Bold 700.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Hatton Medium';
    src: url('../../assets/fonts/PP Hatton Medium 500.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Hatton Ultralight';
    src: url('../../assets/fonts/PP Hatton Ultralight 200.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}