$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.281);
$radius: 14px;

// Colors
$title-color: #686c73ff;
$text-color: #686c73ff;
$pink-color: #c05b7dff;
$secondary-color: #d9d7c3ff;
$bg-color: #f8f3eb;

// Font
$font-SVG-gotham: 'SVG-gotham', sans-serif;
$font-SVG-GothamLight: 'SVG-GothamLight', sans-serif;
$font-SVG-gothamBook: 'SVG-gotham-book', sans-serif;
$font-SVG-GothamBold: 'SVG-GothamBold', sans-serif;
$font-lora: 'Lora', sans-serif;
$font-AstonScriptBold: 'AstonScriptBold-Bold', sans-serif;
$font-TPLeMajor: 'TPLeMajor', sans-serif;
$font-DFVNCatchyMager: 'DFVNCatchyMager', sans-serif;
$font-Allura: 'Allura', sans-serif;
$font-Aboreto-Regular: 'Aboreto-Regular', sans-serif;
$font-Hatton-Bold: "PP Hatton Bold", sans-serif;
$font-Hatton-Medium: "PP Hatton Medium", sans-serif;
$font-Hatton-Ultralight: "PP Hatton Ultralight", sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;